<div class="container" appPaginator>
  <div class="block">
    <div class="block-1" [hidden]="appPagination.previous==0"> Previous Component <br> {{appPagination.previous}} </div>
    <div class="block-1"> Current Component <br> {{appPagination.current}} </div>
    <div class="block-1" [hidden]="appPagination.next==appPagination.totalPage+1"> Next Component <br> {{appPagination.next}} </div>
  </div>


  <nav aria-label="Page navigation example mt-2">
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" (click)="appPagination.firstPage()" [hidden]="appPagination.previous==0"> First </a></li>
      <li class="page-item"><a class="page-link" (click)="appPagination.previousPage()" [hidden]="appPagination.previous==0">&laquo; {{appPagination.previous}}</a>
      </li>
      <li class="page-item"><a class="page-link" appPaginator #appPagination="appPagination" min="1" max="20"
          [totalPage]="50" [pageNumber]="10" value="10">{{appPagination.current}}</a></li>
      <li class="page-item"><a class="page-link" (click)="appPagination.nextPage()" [hidden]="appPagination.next==appPagination.totalPage+1">{{appPagination.next}} &raquo;</a></li>
      <li class="page-item"><a class="page-link" (click)="appPagination.lastPage()" [hidden]="appPagination.next==appPagination.totalPage+1"> Last </a></li>
    </ul>
  </nav>
</div>